<!DOCTYPE html>
<html lang="en">
<head>
  <title>@xwartz</title>
  {{> meta_and_link}}
  {{> style_link}}
</head>
<body>
  <div id="loading" class="loading"></div>
  <div id="app"></div>
  <script src="dist/app.js"></script>
  {{> analytics}}
</body>
</html>