

@import "functions";
@import "mixins";
@import "color";

/* ==========  font  ========== */
// defined font size
$body-font-size: rem-calc(14);
$base-font-size-h: rem-calc(22);

// defined font color
$base-font-color: $bistre;

$font-family: -apple-system,".SFNSText-Regular","Roboto","Segoe UI","Oxygen","Ubuntu","Cantarell","Microsoft Yahei","微软雅黑","Helvetica Neue",sans-serif;


$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$body-bg: $white !default;
$body-font-color: $base-font-color;
$body-font-family: $font-family !default;
$body-font-weight: $font-weight-normal !default;
$body-font-style: normal !default;

$font-smoothing-webkit: antialiased !default;
$font-smoothing-moz: grayscale !default;

$base-font-size: 100% !default;
$base-line-height: 1.5 !default;

// border
$base-border: 1px solid $timberwolf;
$base-border-radius: 5px;

// box-shadow
// 
$base-box-shadow: 0 0 5px 0 rgba(40,55,77,.075) !default;


$small-breakpoint:  460px  !default;
$small-range:   (0, $small-breakpoint) !default;
$screen: "only screen" !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;