*{
	margin: 0;
	padding: 0;
}

body{
	width: 870px;
	margin: 40px auto;
}

/* 创建垂直导航条 */
ul.mytestnav{
	
	list-style: none;
	width: 8em;
	background: #8BD400;
	border: 1px solid #486B02;
}
ul.mytestnav a{
	display: block;
	color: #2b3f00;
	text-decoration: none;
	border-top: 1px solid #e4ffd3;
	border-bottom: 1px solid #486b02;
	padding: 0.3em 1em;
}
ul.mytestnav:last-child{
	border-bottom: 0;
}
ul.mytestnav a:hover{
	color: #e4ffd3;
	background: #6da203;
}
/* IE6下兼容 */
ul.mytestnav li{
	display: inline;
}
/* ************************************************* */
/* 创建水平导航条 */
ol.pagination {
	
	margin-top: 5em;
	list-style: none;
	overflow: hidden;
}
ol.pagination li{
	float: left;
	margin-right: 0.6em;
}
ol.pagination li a{
	display: block;
	text-decoration: none;
	padding: 0.2em 0.5em;
	border: 1px solid #ccc;
}
ol.pagination li a:hover{
	background: blue;
	color: white;
}
ol.pagination li a[rel="prev"],
ol.pagination li a[rel="next"]{
	border: none;
}
ol.pagination li a[rel="prev"]:before{
	content: "\00AB";
	padding-right: 0.5em; 
}
ol.pagination li a[rel="next"]:after{
	content: "\00BB";
	padding-left: 0.5em;
}

/* ************************************* */
/* 创建图形化导航条 */
ul.pmytestnav{
	
	margin-top: 5em;
	width: 35em;
	list-style: none;
	overflow: hidden;
	background: #FAA819;
}
ul.pmytestnav li{
	float: left;
}
ul.pmytestnav a{
	display: block;
	padding: 0 2em;
	text-decoration: none;
	line-height: 2.1em;
	color: #fff;
	border-right: 0.1em solid #fff; 
}
ul.pmytestnav a:hover{
	color: #333;
}
/* ********************************* */
/* 创建下拉菜单 */
ul.mydropdown,ul.mydropdown ul {
	
	list-style: none;
	float: left;
	border: 1px solid #486B02;
	background: #8BD400;
}
ul.mydropdown{
	margin-top: 5em;
}
ul.mydropdown li{
	float: left;
	width: 8em;
	background: #8BD400;
}
ul.mydropdown li ul{
	width: 8em;
	position: absolute;
	left: -999em;
}
ul.mydropdown li:hover ul{
	left: auto;
}
ul.mydropdown a{
	display: block;
	color: #2B3F00;
	text-decoration: none;
	padding: 0.3em 1em;
	border-right: 1px solid #486B02;
	border-left: 1px solid #E4FFD3;

}
ul.mydropdown li li a{
	border-top: 1px solid #E4FFD3;
	border-bottom: 1px solid #486B02;
	border-left: 0;
	border-right: 0;
}
ul.mydropdown a:hover{
	color: #E4FFD3;
	background: #6da203;
}
/*删除多余的border*/
ul.mydropdown li:last-child a{
	border-right: 0;
	border-bottom: 0;
}
